*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}
div#container-principale{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#verde{
    width: 100vw;
    height: 100px;
    background-color: #009688;
}

section#grigia{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #dadbd2;
}


aside{
    height: 100%;
    width: 40%;
}

main{
    /* height: 885.2px; */
    width: 60%;
}

div#container{
    background-color: white;
    display: flex;
    position:absolute;
    z-index: 1;
    left: 10%;
    /* right: 90px; */
    top: 15px;
    width: 85%;
    height: 95%;
    margin: 0 auto;
}

aside > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: #eaeaea;
    height: 66px;
    border-right: 1px solid #b9bcbc;
}

aside > header > div#profilo-attivo{
    display: flex;
    align-items: center;
}

aside > header > div#profilo-attivo > img,
section#lista-messaggi > ul > li > div > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: .5rem;
}

aside > header > div#icon-header-aside > i{
    margin-left: .7rem;
}

aside > section#disattiva-notifiche{
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: .7rem;
    margin-bottom: .3rem;
    
}

aside > section#disattiva-notifiche > div#bell > i{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color:#8edafc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}

aside > section#disattiva-notifiche > div#attiva-disattiva-notifiche > a{
    color: #6c7171;
}


aside > nav#ricerca-messaggi{
    position: relative;
}

aside > nav#ricerca-messaggi > i{
    position: absolute;
    z-index: 1;
    left: 1rem;
    top:.4rem;
    color: #b9bcbc;
}

aside > nav#ricerca-messaggi > input {
    width: 100%;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 3rem;

    border-radius: .5rem;
    border: 2px solid #e9ebeb;
    color:#6c7171;
    margin-bottom: 1rem;
}

section#lista-messaggi > ul {
    list-style-type: none;
    overflow: auto;
    height: 100%;
}

section#lista-messaggi > ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .7rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eaeaea;
}

section#lista-messaggi > ul > li:last-child{
    margin-bottom: 0;
}

section#lista-messaggi > ul > li > div{
    display: flex;
    align-items: center;
}

section#lista-messaggi > ul > li > div.data-ora-messaggio{
    margin-right: .3rem;
}

main > header{
    height: 66px;

    background-color: #eaeaea;
}

main > section#messaggi{
    /*NON FUNZIONA */
    /* background-image: url('/img/mine.jpg');
    object-fit: cover; */
    background-color: antiquewhite;
    width: 100%;
    height: calc(100% - 132px);
}

main > footer{
    height: 66px;

    background-color: #eaeaea;
}
section#messaggi{
display: flex;
flex-direction: column;

}

div.messaggio_ricevuto,
div.messaggio_inviato{
    padding: 1rem;
}

section#messaggi > div.messaggio_inviato{
    display: flex;
    flex-direction: row-reverse;
}

.messaggio-inviato{
    background-color: #d5f9ba;
    padding: .5rem .4rem;
    border-radius: .5rem;
    margin-top: .6rem;
}

.messaggio-ricevuto{
    background-color: white;
    padding: .5rem .4rem;
    border-radius: .5rem;
    margin-top: 1rem;
}
