*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
div#container-principale{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#verde{
    width: 100vw;
    height: 100px;
    background-color: #009688;
}

section#grigia{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #d7dbd5;
}


aside{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

main{
    /* height: 885.2px; */
    width: 60%;
    display: flex;
    flex-direction: column;
}

div#container{
    background-color: white;
    display: flex;
    position:absolute;
    z-index: 1;
    left: 10%;
    right: 10%;
    /* right: 90px; */
    top: 15px;
    width: 85%;
    height: 95%;
    margin: 0 auto;
}

aside > header,
main > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: #eaeaea;
    height: 50px;
    border-right: 1px solid #b9bcbc;
}

i{
    color: #b0b0b0;
    cursor: pointer;
}

aside > header > div#profilo-attivo{
    display: flex;
    align-items: center;
}

div.nome-utente{
    font-size: 15px;
}

aside > header > div#profilo-attivo > img,
section#lista-messaggi > ul > li > div > img,
main header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .5rem;
}


aside > header > div#icon-header-aside > i,
main > header > div#icon-header-main > i{
    margin-left: .7rem;
}

aside > section#disattiva-notifiche{
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: .7rem;
    margin-bottom: .3rem;
    
}

aside > section#disattiva-notifiche > div#bell > i{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color:#8edafc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}

aside > section#disattiva-notifiche > div#attiva-disattiva-notifiche > a{
    color: #6c7171;
}

div#notifiche{
    font-size: 14px;
    margin-bottom: .2rem;
}

div#attiva-disattiva-notifiche > a > p {
    font-size: 10px;
}


aside > nav#ricerca-messaggi{
    position: relative;
}

aside > nav#ricerca-messaggi > i{
    position: absolute;
    z-index: 1;
    left: 1rem;
    top:.4rem;
    color: #b9bcbc;
}

aside > nav#ricerca-messaggi > input {
    width: 95%;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 3rem;
    
    border-radius: .5rem;
    border: 2px solid #e9ebeb;
    color:#6c7171;
    margin: 0 .5rem .5rem .5rem;
    margin-bottom: 1rem;
}

section#lista-messaggi{
    overflow: auto;
}

section#lista-messaggi > ul {
    list-style-type: none;
    overflow: auto;
    height: 100%;
}

section#lista-messaggi > ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .7rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
    padding: .3rem;
}

section#lista-messaggi > ul > li:hover{
    opacity: .6;
    background-color: #f5f5f5;
}
.active{
    background-color: #e9ebeb;
}

ul > li > div > img {
    margin-left: .5rem;
}

section#lista-messaggi > ul > li:last-child{
    margin-bottom: 0;
}

section#lista-messaggi > ul > li > div{
    display: flex;
    align-items: center;
}

section#lista-messaggi > ul > li > div.data-ora-messaggio{
    margin-right: .3rem;
}

div.ultimo-messaggio-inviato{
    font-size: 12px;
    color: #b9bcbc;
}

div.data-ora-messaggio{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 12px;
    color: #6c7171;
}

main > header > div#chat-aperta{
    display: flex;
    align-items: center;
}

div.ora{
    align-self: flex-end;
}

main > section#messaggi{
    background-image: url('../img/mine.jpg');
    object-fit: cover;
    width: 100%;
    height: calc(100% - 100px);
}

main > footer{
    height: 50px;

    background-color: #eaeaea;
}
section#messaggi{
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 3rem;

}

div.messaggio_ricevuto,
div.messaggio_inviato{
    margin-bottom: 1.2rem;
}

section#messaggi > div.messaggio_inviato{
    display: flex;
    flex-direction: row-reverse;
}
.messaggio-inviato{
    background-color: #d5f9ba;
    padding: .7rem 3rem .3rem .7rem ;
    border-radius: .5rem;
    font-size: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.messaggio-ricevuto{
    background-color: white;
    padding: .7rem 3rem .3rem .7rem ;
    border-radius: .5rem;
    font-size: 15px;
    display: inline-block;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}
div.orario{
    /* position: relative; */
}

.orario{
    align-self: end;
    position: relative;
    font-size: 10px;
    left: 40px;
    color: #b4b4b4;
}
.message-option{
    position: absolute;
    right: 13px;
    top: 6px;
}


.messaggio-ricevuto:hover i,
.messaggio-inviato:hover i{
    color: #b0b0b0;
}

.message-option-span{
    position: absolute;
    left: 102%;
    top: 50%;
    background-color: white;
    padding: 1rem;
}
.message-option-span p {
    margin-bottom: .3rem;
    
}

.message-option-span p:first-child {
    border-bottom: 1px solid #8b8b8b;
    padding-bottom: .3rem;
}

.message-option-div{
    position: absolute;
}

.bianco{
    color: #ffffff
}
.verdino{
    color: #d5f9ba;
}

footer#scrittura-emoticon-vocale{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer#scrittura-emoticon-vocale > div > i {
    margin: 1rem;
    color: #6c7171;
}

footer#scrittura-emoticon-vocale > div#testo-messaggio{
    width: 80%;
}
footer#scrittura-emoticon-vocale > div#testo-messaggio > input{
    width: 100%;
    border-radius: .4rem;
    border: 1px solid #6c7171;
    padding: .3rem .4rem;
}

div.fs_12{
    font-size: 12px;
    color: #8b8b8b;
}

.no-display{
    display: none;
}

.inline-block{
    display: inline-block;
}
